/* Footer Styles */
/* ############# */

#site-footer {
    background-color: #3f5041;
    color: white;
    text-align: center;
}

#site-footer a {
    color: #ec9a1f;
    text-decoration: none;
}

#site-footer a:hover {
    color: #ffba53;
    text-decoration: underline;
}