/* Base Styles */
:root {
    --nav-color: #ec9a1f;
    --bg-color: rgb(63, 80, 65);
}

html {
    /* Sets 1rem = 10px (default 16px * 0.625) */
    font-size: 62.5%;
    /* Scroll to links within page instead of jumping*/
    scroll-behavior: smooth; 
    /* scroll-padding-top: 100px; */

}

@media ((min-width: 750px) and (max-width: 1500px)) {
    html{font-size: 50%;}
}

@media (max-width: 749px) {
    html{font-size: 37.5%;}
}

body{
    background-color: var(--bg-color);
}


/*
    box-sizing: border-box;
    margin: 0;
    padding: 0;
*/