@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Base Styles */
:root {
    --nav-color: #ec9a1f;
    --bg-color: rgb(63, 80, 65);
    --navbar-height: 0px; /* Default value, will be updated by JS */
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(8px, calc(0.455vw + 6.546px), 13px);
    /* Scroll to links within page instead of jumping*/
    scroll-behavior: smooth; 
    /* scroll-padding-top: 100px; */
    min-width: 320px;
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 2rem 2rem;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    width: 100%;
    max-width: 2000px;
}

.page-wrapper > section{
    background-color: white;
    padding: 0rem 2rem;
    border-radius: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 1.5rem;
    transition: all 0.2s ease;
}

.page-wrapper > section > .header_of_section > h1{
    font-size: 3rem;
    text-decoration-line: underline; 
    margin-bottom: 0.25rem;
    margin-top: 2rem;
}

.page-wrapper > section > .footer_of_section {
    grid-area: footer;
    margin-bottom: 2rem;
}

.page-wrapper > section > .footer_of_section > h1{
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

/* Highlight sections - triggered by highlight.js */
.highlight {
    transform: scale(1.02);
}

#site-footer {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}
