/* LEGAL SECTION */
/* ################################ */


.legal-content h2 {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: #ec9a1f;
}

.legal-content p {
    margin-bottom: 1.2rem;
    font-size: 1.75rem;
    text-align: left;
}

.legal-content ul {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.legal-content a {
    color: #ec9a1f;
    text-decoration: none;
}

.legal-content a:hover {
    color: #ff9900;
    text-decoration: underline;
}
