.food-categories {
  --min-box-size: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-box-size), 1fr));
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1rem;
  text-align: center;
  background: #eb4d4b;
  color: #ffffff;
}