.page-wrapper {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    --border-radius: 2rem;
}

/* SECTION STYLES */
/* ################################ */
section:not(#food_categories){
    background-color: white;
    padding: 0rem 2rem;
    border-radius: var(--border-radius);
    
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 1.75rem;
}

.header_of_section h1{
    font-size: 3rem;
    text-decoration-line: underline; 
    margin-bottom: 0.25rem;
    margin-top: 2rem;
}

.footer_of_section {
    grid-area: footer;
    margin-bottom: 2rem;
}

.footer_of_section h1{
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

/* FOOD CATEGORIES STYLES */
/* ################################ */


@media (max-width: 599px) {
    #food_categories { grid-template-columns: 1fr 1fr; }
}
@media (min-width: 600px) and (max-width: 1199px) {
    #food_categories { grid-template-columns: 1fr 1fr 1fr; }
}
@media (min-width: 1200px) {
    #food_categories { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
}

#food_categories {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* created by smart_grid.js */
.food_categories_col {
  flex: 1;           
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.food_categories_col > details {
  background-color: #f0f0f0;
  font-size: 1.75rem;
  border-radius: 1rem;
  border: 2px solid gray;
  padding: 1rem;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .food_categories_col details:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

.food_categories_col > details > summary {
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.food_categories_col > details > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0rem 0rem;
  gap: 2rem;
  font-size: 2rem;
}

.food_categories_col > details > ul > li {
  border: 2px solid var(--nav-color);
  padding: 1rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.food_categories_col > details > ul > li:hover {
    background-color: #ffba53;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* FOOD */
/* ################################ */

.meal_with_picture {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meal_with_picture > ul {
    display: grid;
    gap: 1rem;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

.meal_with_picture h3 {
    margin-top: 0.5rem;
}

.meal_with_picture > ul > li {
    background-color: #f0f0f0;
    font-size: 1.75rem;
    border-radius: 1rem;
    border: 2px solid gray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.meal_with_picture > ul > li >img {
    width: 175px;
    border-radius: 1rem;
    height: auto;
}

.meal_without_picture {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meal_without_picture > ul {
    display: grid;
    gap: 1rem;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

.meal_without_picture > ul > li {
    background-color: #f0f0f0;
    font-size: 1.75rem;
    border-radius: 1rem;
    border: 2px solid gray;
    padding: 1rem;
}

.ingredients_list {
    font-size: 1.25rem;
}